body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  
  background-color: hsl(34, 53%, 82%);
  background-image: repeating-linear-gradient(45deg, transparent 5px, hsla(197, 62%, 11%, 0.5) 5px, hsla(197, 62%, 11%, 0.5) 10px,
  hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(5, 53%, 63%, 0.5) 35px, hsla(5, 53%, 63%, 0.5) 40px,
  hsla(197, 62%, 11%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px,
  hsla(5, 53%, 63%, 0.5) 60px, hsla(5, 53%, 63%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px,
  hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, 0.5) 90px, hsla(5, 53%, 63%, 0.5) 110px,
  hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 120px, hsla(197, 62%, 11%, 0.5) 120px, hsla(197, 62%, 11%, 0.5) 140px
  ),
  repeating-linear-gradient(135deg, transparent 5px, hsla(197, 62%, 11%, 0.5) 5px, hsla(197, 62%, 11%, 0.5) 10px,
  hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(5, 53%, 63%, 0.5) 35px, hsla(5, 53%, 63%, 0.5) 40px,
  hsla(197, 62%, 11%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px,
  hsla(5, 53%, 63%, 0.5) 60px, hsla(5, 53%, 63%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px,
  hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, 0.5) 90px, hsla(5, 53%, 63%, 0.5) 110px,
  hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 140px, hsla(197, 62%, 11%, 0.5) 140px, hsla(197, 62%, 11%, 0.5) 160px
  );
} 

.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-left: 72px;
  margin-right: 72px;
}

.header {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  background-color:hsla(197, 62%, 11%, 1);
  color: hsl(34, 53%, 82%);
  padding-left: 32px;
  padding-right: 32px;
}

.top-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color:hsla(197, 62%, 11%, 1);
  color: hsl(34, 53%, 82%);
  padding-left: 32px;
  padding-right: 32px;
}

.top-content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.img-container{
  text-align: center;
  background-color:hsl(34, 53%, 82%);
  color:hsla(197, 62%, 11%, 1);
  padding: 16px 32px 16px 32px;
}

.img-display {
  display: flex;
  flex: 1;
  justify-content:center;
  padding-top: 16px;
  gap: 16px;
}

.img-card {
  height: 100px;
  width: 100px;
  border: solid hsla(197, 62%, 11%, 1);
}

.img-text {
  display: flex;
  flex-direction: column;
  width: 100px;
}

.banana {
  display: flex;

  padding-bottom: 16px;
}

.bananahome {
  max-height: 150px;
  width: 100%;
}

.testimonial-container {
  display: flex; 
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:hsla(5, 53%, 63%, 1);
  color:hsla(197, 62%, 11%, 1);
  padding-left: 32px;
  padding-right: 32px;
}

.testimonial-quote {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-style: italic;
  font-weight:600;
}

.testimonial-attribute {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 20px;
  font-weight: 900;
  background-color:hsla(5, 53%, 63%, 1);
  color:hsla(197, 62%, 11%, 1);
  padding-left: 32px;
  padding-right: 32px;
}

.sign-up-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color:hsl(34, 53%, 82%);
  color:hsla(197, 62%, 11%, 1);
  padding-left: 32px;
  padding-right: 32px;
}

.sign-up-banner {
  display: flex;
  align-items: center;
  border-radius: 5%;
  background-color:hsla(35, 91%, 65%, 1);
}

.sign-up-content {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.button-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  padding: 16px;
}

.button-top {
  width: 72px;
  background-color: hsla(35, 91%, 65%, 1);
  color:hsla(197, 62%, 11%, 1);
}

.button-bottom {
  width: 72px;
  background-color: hsla(35, 91%, 65%, 1);
  border: solid hsl(34, 53%, 82%);

}

.footer {
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:hsla(197, 62%, 11%, 1);
  color: hsl(34, 53%, 82%);
}

a {
  text-decoration: none;
  color: hsl(34, 53%, 82%);
}

nav {
  display: flex;
}

h1 {
  padding: 0;
  margin: 0;
}

h2 {
  padding: 0;
  margin: 0;
}

ul {
  display: flex;
  list-style: none;
  gap: 16px;
  margin: 0;
  padding: 0;
}