body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  
  background-color: hsl(34, 53%, 82%);
  background-image: repeating-linear-gradient(45deg, transparent 5px, hsla(197, 62%, 11%, 0.5) 5px, hsla(197, 62%, 11%, 0.5) 10px,
  hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(5, 53%, 63%, 0.5) 35px, hsla(5, 53%, 63%, 0.5) 40px,
  hsla(197, 62%, 11%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px,
  hsla(5, 53%, 63%, 0.5) 60px, hsla(5, 53%, 63%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px,
  hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, 0.5) 90px, hsla(5, 53%, 63%, 0.5) 110px,
  hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 120px, hsla(197, 62%, 11%, 0.5) 120px, hsla(197, 62%, 11%, 0.5) 140px
  ),
  repeating-linear-gradient(135deg, transparent 5px, hsla(197, 62%, 11%, 0.5) 5px, hsla(197, 62%, 11%, 0.5) 10px,
  hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(5, 53%, 63%, 0.5) 35px, hsla(5, 53%, 63%, 0.5) 40px,
  hsla(197, 62%, 11%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px,
  hsla(5, 53%, 63%, 0.5) 60px, hsla(5, 53%, 63%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px,
  hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, 0.5) 90px, hsla(5, 53%, 63%, 0.5) 110px,
  hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 140px, hsla(197, 62%, 11%, 0.5) 140px, hsla(197, 62%, 11%, 0.5) 160px
  );
} 

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  background-color:hsla(197, 62%, 11%, 1);
  color: hsl(34, 53%, 82%);
}

.top-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color:hsla(197, 62%, 11%, 1);
  color: hsl(34, 53%, 82%);
}

.top-content {
  display: flex;
  flex-direction: column;
}

.img-container{
  text-align: center;
  background-color:hsl(34, 53%, 82%);
  color:hsla(197, 62%, 11%, 1)
}

.img-display {
  display: flex;
  justify-content:center;
  gap: 16px;
}

.img-card {
  height: 100px;
  width: 100px;
  border: solid hsla(197, 62%, 11%, 1);
}

.img-text {
  display: flex;
  flex-direction: column;
  width: 100px;
}

.banana {
  display: flex;
  padding-bottom: 16px;
}

.bananahome {
  max-height: 150px;
  width: 100%;
}

a {
  text-decoration: none;
  color: hsl(34, 53%, 82%);
}

button {
  width: 72px;
}

nav {
  display: flex;
}

h1 {
  padding: 0;
  margin: 0;
}

h2 {
  padding: 0;
  margin: 0;
}

ul {
  display: flex;
  list-style: none;
  gap: 16px;
  margin: 0;
  padding: 0;
}